.login-formPanel .form-group {
  margin-bottom: 20px; /* Added margin for spacing between elements */
}

.login-formPanel label {
  color: #ffd700; /* Updated label color */
  font-size: 16px; /* Updated font size */
  font-weight: bold; /* Made the label bold */
  display: block;
  margin-bottom: 8px;
}

.login-formPanel input[type="text"],
.login-formPanel input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px; /* Added margin for spacing between fields */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #333;
  color: #f2f2f2;
  font-size: 16px; /* Updated font size */
}

.login-formPanel button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #ffd700;
  color: #1c1c1c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 18px; /* Updated font size */
  font-weight: bold; /* Made the button text bold */
  margin-top: 20px; /* Added margin for spacing */
}

.login-formPanel button:hover {
  background-color: #e5c100;
}

.login-formPanel .btn_asLink {
  background: none;
  border: none;
  color: #ffd700;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px; /* Updated font size */
  font-weight: bold; /* Made the link text bold */
  margin-top: 20px; /* Added margin for spacing */
  display: block;
  text-align: center; /* Centered the Register link */
}

.login-formPanel .btn_asLink:hover {
  color: #e5c100;
}
