.container {
  padding: 20px;
}

.profile-picture {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.cancel-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.cancel-button:hover {
  background-color: darkred;
}
