/* Nav.css */
.nav {
  display: block !important; /* Temporarily override to ensure it's not hidden */
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

.nav-title-link {
  color: white;
  text-decoration: none;
}

.nav-links-container {
  display: flex;
}

.navLink {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.navLink.active {
  font-weight: bold;
}

.nav-title {
  font-size: 24px;
}
