.nav {
  display: flex;
  justify-content: space-between; /* Ensures space between the title and links */
  align-items: center; /* Vertically centers the items */
  background-color: #1c1c1c;
  border-bottom: 2px solid #ffd700;
  padding: 10px 20px;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffd700;
  margin: 0;
}

.nav-title-link {
  color: #ffd700; /* Ensure the link color matches the title color */
  text-decoration: none; /* Remove underline from the link */
}

.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links-container li {
  margin-right: 20px;
}

.navLink {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
}

.navLink:hover {
  background-color: #ffd700;
  color: #1c1c1c;
}

.navLink.active {
  background-color: #ffd700;
  color: #1c1c1c;
}
