.nav {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 0 0 30px;
  background-color: #1c1c1c;
  overflow: hidden;
  border-bottom: 2px solid #ffd700;
  padding: 10px 20px;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffd700;
  margin: 0;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0 10px;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  cursor: pointer;
  outline: 0;
  background-color: transparent; /* Ensure background is transparent */
}

.navLink:hover {
  background-color: #ffd700;
  color: #1c1c1c;
}

.navLink.active {
  background-color: #ffd700;
  color: #1c1c1c;
}
